/* General */


body {
    margin: 0;
    line-height: 1.5em;
    color: #333333;
    font-family: helvetica, arial, sans-serif;
    /*background-image: url("/imgs/hydra4.jpg");*/
    background-image: url("/imgs/nightdra2.jpg"); /*day and night change img and nav, in the future make an animation maybe add sound?*/
    background-repeat: no-repeat;/* flowers moving in the wind*/
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: 1em;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

a:hover, a:active {
    color: #0000ff;
    text-decoration: underline
}


/* Single column layout */
nav section, header section, main, footer section {
    /*max-width: 90em;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
}


/* Navigation panel */
/*
nav {
    background: #2E4A1C;
    border-bottom: thin solid #2E4A1C;
    line-height: 3em;
}
*/
nav {
    background: rgba(51,51,51, .7);
    border-bottom: thin solid rgba(51,51,51,.7);
    line-height: 3em;
}


.marginnav {
    margin-right: 1em;
}

nav a:link, nav a:visited {
    color: #cccccc;
}

nav a:hover, nav a:active {
    color: #ffffff;
    text-decoration: none;
}


@media screen and (min-width: 600px) {
    nav .home {
        float: left;
    }
    nav .links {
        /*float: left;*/
    }
}


/* Footer */
footer {
    background: #f0f0f0;
    border-top: thin solid #e0e0e0;
    margin-top: 2em;
    padding: 1em 0;
    box-shadow: 0 100vh 0 100vh #f0f0f0;
    text-align: center;
}

footer section p {
    font-size: 0.8em;
}

footer a {
    margin-right: 1em;
}

footer a:last-child {
    margin-right: 0;
}


/* Posts */
article {
    margin-top: 1em;
    margin-bottom: 1em;
}

article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
    color: #333333;
}

article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
    color: #777777;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

p.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div .more {
    margin-top: 0;
    font-weight: bold;
}


/* RSS */
.rss {
    padding: 0.3em 0.35em;
    border-radius: 0.25em;
    font-size: 0.75em;
    font-weight: bold;
}

.rss:link, .rss:visited, .rss:hover, .rss:active {
    color: #ffffff;
    text-decoration: none;
}

.rss:link, .rss:visited {
    background: #ff6600;
}

.rss:hover, .rss:active {
    background: #ff8822;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-right: 0em;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .posts {
      margin: 20px;
      width:50%;
      float: left;
  }
  .post {
      background-color: rgba(51,51,51, .9);
      height: 350px;
      margin: 80px;
      width: 100%;
      padding: 10px;
      color: white;
  }

  .topics {
    margin: 50px 20px 20px 60px;
    width: 25%;
    float: left;
}

  .topic {
    background-color: rgba(51,51,51, .9);
    height: 350px;
    margin: 100px;
    width: 100%;
    padding: 10px;
    color: white;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
